/* الخلفية العامة */
.root {
    -fx-background-color: #f0f0f0;
}

/* مربع البحث */
#serviceSearch {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
}

/* حقل البحث */
.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 8 15;
    -fx-prompt-text-fill: #9e9e9e;
    -fx-font-size: 14px;
}

.text-field:focused {
    -fx-border-color: #4a90e2;
    -fx-effect: dropshadow(gaussian, rgba(74, 144, 226, 0.3), 8, 0, 0, 0);
}

/* الأزرار الإذاعية */
.radio-button {
    -fx-background-color: #eaf0f6;
    -fx-text-fill: #0056b3;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.radio-button:hover {
    -fx-background-color: #d0e1f9;
    -fx-radius: 10px;

}

.radio-button .radio {
    -fx-mark-color: #4a90e2;
    -fx-background-color: #ffffff;
    -fx-padding: 5px;
    -fx-radius: 10px;
}

.radio-button:selected .radio {
    -fx-mark-color: white;
    -fx-background-color: #0056b3;
    -fx-border-color: #4a90e2;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;

}

/* الشريط الجانبي الأيمن */
#rightSideBar {
    -fx-background-color: linear-gradient(#5c5c5c, #2e2e2e);
    -fx-background-radius: 20 0 0 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 0);
}

/* أزرار القائمة */
#homeBtn, #requestServiceBtn, #myServicesBtn, #profileBtn, #settingsBtn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 15 15 15 15;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-cursor: hand;
}


#homeBtn:hover, #requestServiceBtn:hover, #myServicesBtn:hover, #profileBtn:hover, #settingsBtn:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: rgba(0, 0, 0, 0.07);
}

#servicesButton:hover, #myLocationsButton:hover, #categoryButton:hover, #favoriteButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 8, 0, 0, 0);
    -fx-translate-y: -2;
}

.button:selected {
    -fx-background-color: #eaf0f6;
    -fx-text-fill: #003366;
}

/* الأنماط العامة للأزرار */
#nowService, #previousService, #myRate {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-padding: 10 0 10 0;
}

/* تأثير hover */
#nowService:hover, #previousService:hover, #myRate:hover {
    -fx-background-color: rgba(80, 80, 80, 0.5);
}

/* زر تسجيل الخروج */
#logoutBtn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 15;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-cursor: hand;
}

#logoutBtn:hover {
    -fx-background-color: #dc334a;
}

/* عنوان الخدمات الشائعة */
#trendService, #shortCuts {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

/* الخط الفاصل */
#line {
    -fx-stroke: #cccccc;
}

/* بطاقات الخدمات */
#electricPane, #waterPane, #tailorPane, #woodmenPane, #cleaningPane, #securityPane, #applianceRepairPane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, 0, 0, 0);
    -fx-padding: 25 20 25 20;
}



#titleLabel {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #003366;
}

#priceLabel {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #4a90e2;
}

/* زر الطلب */
#requestButton {
    -fx-background-color: #fabd4b;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-font-size: 20px;
    -fx-padding: 35 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 0);
}

#requestButton:hover {
    -fx-background-color: #006605;
}

/* معلومات إضافية */
#additionalInfo {
    -fx-font-size: 14px;
    -fx-text-fill: #757575;
}

/* تحسينات عامة */
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(#5c5c5c, #2e2e2e);
    -fx-background-radius: 5;
}

#requestServicePane,#homePane,#myProfilePane,#ServicePane,#settingPane {
    -fx-background-color: rgba(187, 234, 255, 0.13);
    -fx-background-radius: 0 20 20 0;
}
#servicesButton {
    -fx-background-color: rgba(122, 122, 122, 0.6);
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 25 10;
}

#myLocationsButton {
    -fx-background-color: rgba(60,189,130,0.64);
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#categoryButton {
    -fx-background-color: rgb(250, 189, 75);
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#favoriteButton {
    -fx-background-color: rgba(0, 22, 255, 0.44);
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
#welcomeLabel,#featuredLabel{
    -fx-text-fill: #000000;
}

/* Button hover effects */
#favoriteButton:hover {
    -fx-background-color: rgba(19, 38, 216, 0.56);
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
#categoryButton:hover{
    -fx-background-color: rgba(235, 135, 0, 0.64);
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
#myLocationsButton:hover{
    -fx-background-color: rgba(60, 189, 130, 0.72);
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
#servicesButton:hover{
    -fx-background-color: rgba(122, 122, 122, 0.66);
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 25 10;
}
#favoriteServiceBtn{
    -fx-background-color: rgb(24, 131, 213);
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}
#favoriteServiceBtn:hover {
    -fx-background-color: #0e59ab;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-background-radius: 10;


}

#mainContainer{
    -fx-padding: 10 0 10 0 ;
}

/* MyProfile.css */

#myProfilePane {
    -fx-background-color: #f8f9fa;
}

.topHeader-title{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-padding: 10 800 0 0;
}

.edit-button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-border-color: linear-gradient(to bottom right, #98fa04, #ff6e00, #f5f100);
    -fx-border-radius: 30px;
    -fx-border-width: 2px;
    -fx-padding: 8px 16px;
    -fx-font-size: 14px;
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-effect: dropshadow(gaussian, rgba(68, 68, 68, 0.2), 10, 0.3, 0, 5);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

.edit-button:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(68, 68, 68, 0.45), 15, 0.4, 0, 7);
}

.edit-button:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(68, 68, 68, 0.7), 15, 0.6, 0, 5);
}


.info-section {
    -fx-background-color: #ffffff;
    -fx-padding: 20px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0);
    -fx-spacing: 10;
}

.section-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 0;
}

.field-label {
    -fx-font-weight: bold;
    -fx-text-fill: #6c757d;
}

.field-value {
    -fx-text-fill: #212529;
}

/* Profile header styles */
.profile-header {
    -fx-background-color: #ffffff;
    -fx-padding: 20px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0);
    -fx-spacing: 20;
}
.top-header{
    -fx-background-color: #ffffff;
    -fx-padding: 20px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0);
    -fx-spacing: 10;

}

.profile-pic {
    -fx-fit-height: 80px;
    -fx-fit-width: 80px;
    -fx-clip: "circle(20px at center)";
}

.profile-info {
    -fx-spacing: 5;
}

.profile-name {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

 .profile-location {
    -fx-font-size: 14px;
    -fx-text-fill: #6c757d;
}

/* GridPane styles */
.info-grid {
    -fx-hgap: 20;
    -fx-vgap: 10;
}
