.text-field:focused {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #000000;
    -fx-background-color: white;
}
.left-menu {
    background-color: #f8f9fa;
    padding: 20px;
    spacing: 10px;
    border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 2, 2);
}

#rightSideBar {
    -fx-background-color: rgba(153, 0, 255, 0.46);
}
#rightSideBarButton{
    -fx-background-color: rgba(0, 255, 187, 0.46);
}
#requestButton {
    -fx-background-color: linear-gradient( #1fd1f9 0%, #b621fe 74%);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,.5), 4, 0.5, 4, 4);
    -fx-transition: all 0.3s ease;
}
