.text-field:focused {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #000000;
    -fx-background-color: white;
}
.left-menu {
    background-color: #f0f1ed;
    padding: 20px;
    spacing: 10px;
    border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 2, 2);
}

#rightSideBar {
    -fx-background-color: #7296ee;
}
#rightSideBarButton{
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: Dubai;
    -fx-cursor: hand;

}
#trendService{
    -fx-font-size: 44px;
    -fx-font-family: Dubai;
    -fx-text-fill: #000000;
}
#requestServiceBtn{
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: Dubai;
    -fx-cursor: hand;

}
#serviceSearch{
    -fx-background-color: white;
    -fx-border-color: #e1e1e1;
    -fx-prompt-text-fill: #272727;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-border-radius: 5;

}
#requestButton {
    -fx-background-color: #7398f0;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-cursor: hand;
    -fx-alignment: center;

}
#titleLabel{
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-alignment: top-right;



}
#priceLabel{
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;


}
#servicesButton{
    -fx-background-color: linear-gradient( #6daaee 10%, #7986f4 84%);
    -fx-text-fill: white;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-family: Dubai;
    -fx-cursor: hand;


}
#logoutBtn{
    -fx-background-color: #ffffff;
    -fx-text-fill: #c11515;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: Dubai;
    -fx-cursor: hand;

}
#electricPane{
    -fx-background-color: rgba(0, 187, 255, 0.05);
    -fx-border-color: #e1e1e1;
    -fx-background-radius: 10;
    -fx-border-radius: 10;

}
#waterPane{
    -fx-background-color:  rgba(0, 34, 255, 0.05);
    -fx-border-color: #e1e1e1;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
#tailorPane{
    -fx-background-color: rgba(255, 192, 203, 0.1);
    -fx-border-color: #e1e1e1;
    -fx-background-radius: 10;
    -fx-border-radius: 10;

}
#woodmenPane{
    -fx-background-color: rgba(255, 255, 0, 0.05);
    -fx-border-color: #e1e1e1;
    -fx-background-radius: 10;
    -fx-border-radius: 10;

}


