.mode-toggle-button {
    -fx-background-color: linear-gradient(to right, #87CEEB, #4682B4);
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 5;
}

.mode-toggle-button:selected {
    -fx-background-color: linear-gradient(to right, #191970, #000080);
}

.mode-toggle-button .image-view {
    -fx-translate-x: -15;
}

.mode-toggle-button:selected .image-view {
    -fx-translate-x: 15;
}

.mode-toggle-button .image-view {
    -fx-transition: translate-x 0.3s ease-out;
}